body {
  background-color: #0B0B0D;
  margin: 0;
}

h1 {
  text-align: center;
  color: #F6F5F1;
  font-family: 'Raleway',sans-serif;
  font-weight: 100;
  font-size: 8rem;
}

.page-headings {
  font-weight: 100;
font-size: 4rem;
  color: #892cDC;
}

.homepagesub {
  width: 55%;
}

h2 {
font-family: 'Amatic SC', cursive;
margin: 1rem;
color: #892CdC;
}


p {
  font-family: 'Raleway',sans-serif;
  font-size: 25px;
  color: #F6F5F1;
  text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.bodytext {
  font-weight: lighter;
  font-size: 2rem;
  width: 40%;
  padding-top: 100px;
  margin-left: 30px;
}

.secondbodytext {
  font-weight: lighter;
  font-size: 2rem;
  width: 50%;
  padding: 50px 50px;
  margin: 0 0 10% 50%;
}

.thirdbodytext{
  color: black;
  font-size: 2rem;
  width: 40%;
  padding-top: 80px;
  margin-left: 30px;
}

.purpletext{
  color: #892CDC;
}

.whitebackground {
  background-color: white;
  padding: 60px;
  width: 100%;
  margin: 0;
}

.container {
  border-bottom: 50px;
}


/* About */
.intro {
  font-weight: lighter;
  font-size: 2rem;
  width: 40%;
  margin-top: 10%;
  padding-top: 30px;

}

.blurb{
  width: 40%;
  margin-left: 30%;
  margin-top: 13%;

}

.aboutbutton {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: 10%;
  background-color: #222831;
  border-radius: 20px;
  border: 2px solid white;
  padding: 16px;
}


.contact{
  background-color: #222831;
  text-align: center;
  color: #892CDC;
  border-radius: 50px;
  border: 2px solid #F1FA3C;

}

.contactbox {
  color: #F6F5F1;
  text-align: center;
  margin: auto;
  width: 25%;
}


.btn-dark:hover{
  text-decoration: none;
 background-color: #F1FA3C;
 color: #892CDC;

 }

/* Nav bar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #F1FA3C;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
